<h1>Update <%= @recipe.name %> Recipe</h1>
<%= render('layouts/errors', :object => @recipe) %>

<form class="form-horizontal" action="/recipes/<%= @recipe.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render 'form' %>
  <button class="btn btn-info">Update Recipe</button>
</form>
<div id= "recipe_view_navbar" class= "navbar navbar-fixed-bottom">
  <div class= "navbar-inner">
    <div class= "container">
      <div class= "nav pull-right">
        <%= link_to "New tag", new_recipe_path, :class=> "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
