<%= render 'layouts/errors', :object => @tag %>
<%= form_for @tag do |f| %>
  <div class="form-inline form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <%= f.submit :class => "btn btn-info" %>
  <% end %>
