<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Recipe Central" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div class= "container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="/recipes">Recipe Central&#8482</a></li>
        </ul>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="navbar-brand" href="/tags">Tags</a></li>
            <li><a class="navbar-brand" href="/recipes">Recipes</a></li>
          </ul>
        </div>
      </div>
    </nav>

  <% if flash[:notice] -%>
    <h3 class="alert alert-info"><%= flash[:notice] %></h3>
  <% end %>
  <%= yield %>
  </div>
</body>
</html>
